        <!-- START HOMEPAGE SLIDER -->
        <div id="home" class="hompage-slides-wrapper particle-bg">
            <!-- PARTICLE BACKGROUND -->
            <div id="particles"></div>
            <!-- END PARTICLE BACKGROUND -->

            <div class="homepage-slides owl-carousel owl-theme">
                <div class="single-slider-item ">
                    <div class="slide-item-table">
                        <div class="slide-item-tablecell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="slider-text">
                                            <h1>Bima Putra Rubiyanto</h1>
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                                            
                                            <div class="slide-button">
                                                <a href="/artikel/wkwk" class="slide-btn-bordered">Selengkapnya</a>
                                            </div>
                                        </div>
                                    </div><!-- END COL -->
                                </div><!-- END ROW -->
                            </div><!-- END CONTAINER -->
                        </div>
                    </div>
                </div>
                
                
                <div class="single-slider-item ">
                    <div class="slide-item-table">
                        <div class="slide-item-tablecell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-lg-7">
                                        <div class="slider-text">
                                            <h1>Rizky Maulana Thamrin</h1>
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                                            
                                            <div class="slide-button">
                                                <a href="/artikel/wkwk" class="slide-btn-bordered">Selengkapnya</a>
                                            </div>
                                        </div>
                                    </div><!-- END COL -->
                                    <div class="col-md-12 col-lg-5">
                                        <div class="welcome-phone">
                                            <img src="/home/assets/img/client/1.png" alt="App Mockup image">
                                        </div>
                                    </div><!-- END COL -->
                                </div><!-- END ROW -->
                            </div><!-- END CONTAINER -->
                        </div>
                    </div>
                </div>

            </div>
        </div> 
        <!-- END HOMEPAGE SLIDER -->

        <!-- START APP ABOUT SECTION -->
        <section id="about" class="app-about-section angle-sp"> 
            <div class="container"> 
                <div class="row"> 
                    <div class="col-lg-12"> 
                        <div class="section-title angle-section-title wow fadeInUp" data-wow-delay=".3s"> 
                            <h2>About</h2>
                            <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore Lorem ipsum madolor sit amet, consectetur adipisicing incididunt.</p>
                        </div>
                    </div><!-- END COL -->
                </div><!-- END ROW -->
                
                <div class="row"> 
                    <div class="col-lg-7"> 
                        <div class="app-about-text wow fadeInUp" data-wow-delay=".6s"> 
                            <h3>PEMIRA</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p> 
                            <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                        </div>
                    </div><!-- END COL -->
                    
                    <div class="col-lg-5"> 
                        <div class="text-center wow fadeInUp" data-wow-delay=".9s">
                            <img src="/home/assets/img/app-about.jpg" alt="App About">
                        </div>
                    </div><!-- END COL -->
                </div><!-- END ROW -->
            </div><!-- END CONTAINER -->
        </section>
        <!-- END APP ABOUT SECTION -->

        <!-- START AWESOME FEATURES SECTION -->
        <section id="kbm" class="awsome-features"> 
            <div class="container"> 
                <div class="row"> 
                    <div class="col-lg-12"> 
                        <div class="section-title wow fadeInUp" data-wow-delay=".3s"> 
                            <h2>KELUARGA BESAR MAHASISWA RAHARJA</h2>
                            <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore Lorem ipsum madolor sit amet, consectetur adipisicing incididunt.</p>
                        </div>
                    </div><!-- END COL -->
                </div><!-- END ROW -->
                
                <div class="row"> 
                    <div class="col-md-12 col-lg-6"> 
                        <a href="" target="_blank">
                        <div class="single-feature feature-style-two wow fadeInUp" data-wow-delay=".4s"> 
                            <div id="icon-himpunan" class="icon-himpunan">
                                <img src="https://himtif.com/images/artikel/91480af02e3e990e7de9a8bcc4e25b7b.png">
                            </div>
                            <h4>Himpunan Mahasiswa Teknik Informatika</h4>
                            <p>There are many variations of passages of Lorem Ipsum available,but the majorityhave suffered alteration in some form, by injected humour,available</p>
                            <p>Website : himtif.org</p>
                        </div>
                        </a>
                    </div><!-- END COL -->
                    
                    <div class="col-md-12 col-lg-6"> 
                        <div class="single-feature feature-style-two wow fadeInUp" data-wow-delay=".4s"> 
                            <div id="icon-himpunan" class="icon-himpunan">
                                <img src="https://himtif.com/images/artikel/91480af02e3e990e7de9a8bcc4e25b7b.png">
                            </div>
                            <h4>Himpunan Mahasiswa Teknik Informatika</h4>
                            <p>There are many variations of passages of Lorem Ipsum available,but the majorityhave suffered alteration in some form, by injected humour,available</p>
                            <p>&nbsp;</p>
                        </div>
                    </div><!-- END COL -->
                    
                    <div class="col-md-12 col-lg-6"> 
                        <a href="" target="_blank">
                        <div class="single-feature feature-style-two wow fadeInUp" data-wow-delay=".4s"> 
                            <div id="icon-himpunan" class="icon-himpunan">
                                <img src="https://himtif.com/images/artikel/91480af02e3e990e7de9a8bcc4e25b7b.png">
                            </div>
                            <h4>Himpunan Mahasiswa Teknik Informatika</h4>
                            <p>There are many variations of passages of Lorem Ipsum available,but the majorityhave suffered alteration in some form, by injected humour,available</p>
                            <p>Website : himtif.org</p>
                        </div>
                        </a>
                    </div><!-- END COL -->
                    
                    <div class="col-md-12 col-lg-6"> 
                        <div class="single-feature feature-style-two wow fadeInUp" data-wow-delay=".4s"> 
                            <div id="icon-himpunan" class="icon-himpunan">
                                <img src="https://himtif.com/images/artikel/91480af02e3e990e7de9a8bcc4e25b7b.png">
                            </div>
                            <h4>Himpunan Mahasiswa Teknik Informatika</h4>
                            <p>There are many variations of passages of Lorem Ipsum available,but the majorityhave suffered alteration in some form, by injected humour,available</p>
                            <p>&nbsp;</p>
                        </div>
                    </div><!-- END COL -->
                    

                </div><!-- END ROW -->
            </div><!-- END CONTAINER -->   
        </section>
        <!-- END AWESOME FEATURES SECTION -->

        <!-- START HOW IT WORKS SECTION -->
        <section id="how-it-works" class="how-it-works wave-one-how-it-works gray-bg"> 
            <div class="wave-bg-section-tb-one"></div>
            <div class="container"> 
                <div class="row"> 
                    <div class="col-lg-12"> 
                        <div class="section-title wow fadeInUp" data-wow-delay=".3s"> 
                            <h2>Bagaimana Cara Memilih Pasangan Calon?</h2>
                            <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore Lorem ipsum madolor sit amet, consectetur adipisicing incididunt.</p>
                        </div>
                    </div><!-- END COL -->
                </div><!-- END ROW -->
                
                <div class="row"> 
                    <div class="col-lg-6"> 
                        <div class="hiw-feature-content"> 
                            <div class="single-hiw-feature wow fadeInUp" data-wow-delay=".3s"> 
                                <i class="icofont-login"></i>
                                <h4>Login Dengan Rinfo</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                            </div>
                            
                            <div class="single-hiw-feature wow fadeInUp" data-wow-delay=".4s"> 
                                <i class="icofont-test-tube-alt"></i>
                                <h4>Verifikasi Diri</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                            </div>
                            
                            <div class="single-hiw-feature wow fadeInUp" data-wow-delay=".5s"> 
                                <i class="icofont-chart-histogram-alt"></i>
                                <h4>Lakukan Pemilihan</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                            </div>
                            
                            <div class="single-hiw-feature wow fadeInUp" data-wow-delay=".6s"> 
                                <i class="icofont-light-bulb"></i>
                                <h4>Lihat Hasil</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                            </div>
                        </div>
                    </div><!-- END COL -->
                    
                    <div class="col-lg-5 offset-lg-1"> 
                        <div class="video-demo-content wow fadeInUp" data-wow-delay=".9s"> 
                            <img src="/home/assets/img/video-demo.jpg" alt="Video Demo Image" class="img-circle">
                            <div class="play-video-icon">
                                <!-- Change the video from here -->
                                <a class="popup-youtube" href="file:///C:/Users/Masbim/Documents/Camtasia/Untitled%20Project/Untitled%20Project.mp4">
                                    <i class="icofont-play"></i>
                                    <div class="sonar-wrapper">
                                        <div class="sonar-emitter">
                                            <div class="sonar-wave"></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div><!-- END COL -->
                </div><!-- END ROW -->
            </div><!-- END CONTAINER -->
        </section>
        <!-- END HOW IT WORKS SECTION -->

        <!-- START NEWS SECTION -->
        <section id="news" class="blog-section"> 
            <div class="container"> 
                <div class="row"> 
                    <div class="col-lg-12"> 
                        <div class="section-title wow fadeInUp" data-wow-delay=".3s"> 
                            <h2>Latest Blog Post</h2>
                            <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore Lorem ipsum madolor sit amet, consectetur adipisicing incididunt.</p>
                        </div>
                    </div><!-- END COL -->
                </div><!-- END ROW -->
            
                <div class="row"> 
                    <% artikel.forEach(function(datArtikel) { %> 
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay=".4s"> 
                        <div class="single-blog-post-two sm-one-col">
                            <div class="blog-img">
                                <a href="./artikel/xnxxxx-xxx-xxx-xxx">
                                    <img class="img-fluid img-thumbnail thum" src="data:image/<%=datArtikel.img.contentType%>;base64,  <%=datArtikel.img.data.toString('base64')%>">
                                </a>
                                <div class="post_date">/<%= datArtikel.date %> <br> Sep</div>
                            </div>
                                
                            <div class="blog-info">
                                <h6 class="blog-title">
                                    <a href="./artikel/xnxxxx-xxx-xxx-xxx"><%= datArtikel.judul %></a>
                                </h6>

                                <p><%= datArtikel.isi %>...</p>
                            </div>
                        </div>
                    </div>
                    <% }) %> 
                </div><!-- END ROW -->
            </div><!-- END CONTAINER -->   
        </section>
        <!-- END NEWS SECTION -->


        <!-- START CONTACT SECTION -->
        <section id="contact" class="contact-section gray-bg cs-pt-130"> 
                <div class="wave-bg-section-top-one"></div>
            <div class="container"> 
                <div class="row"> 
                    <div class="col-lg-12"> 
                        <div class="section-title wow fadeInUp" data-wow-delay=".3s"> 
                            <h2>Contact Us</h2>
                            <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore Lorem ipsum madolor sit amet, consectetur adipisicing incididunt.</p>
                        </div>
                    </div><!-- END COL -->
                </div><!-- END ROW -->

                <div class="row"> 
                    <div class="col-md-4 col-lg-4"> 
                        <div class="single-contact-info wow fadeInUp" data-wow-delay=".4s">
                            <i class="icofont-location-pin"></i>
                            <h3>Alamat:</h3>
                            <p>Kampus Raharja.</p>
                        </div>
                    </div><!-- END COL -->
                    
                    <div class="col-md-4 col-lg-4"> 
                        <div class="single-contact-info wow fadeInUp" data-wow-delay=".5s">
                            <i class="icofont-envelope"></i>
                            <h3>E-mail Address:</h3>
                            <p>saiaostadz@gmail.com</p>
                        </div>
                    </div><!-- END COL -->
                    
                    <div class="col-md-4 col-lg-4"> 
                        <div class="single-contact-info wow fadeInUp" data-wow-delay=".6s">
                            <i class="icofont icofont-phone"></i>
                            <h3>Telpon:</h3>
                            <p>+999-9999-999</p>
                        </div>
                    </div><!-- END COL -->
                </div>
            </div><!-- END CONTAINER -->
        </section>
        <!-- END CONTACT SECTION-->