<!DOCTYPE html> 
<html lang="en"> 

<head> 
	<meta charset="UTF-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>KBM</title> 
</head> 

<body> 
	<h1>KBM</h1> 
	<hr> 
	<div> 
		<form action="/kbm/" method="POST" enctype="multipart/form-data"> 
			<div> 
				<label for="nama">Nama KBM</label> 
				<input type="hidden" id="uid" placeholder="uid" value="<%=user._id %>" name="uid" required> 
				<input type="text" id="nama" placeholder="nama" value="" name="nama" required> 
			</div> 
			<div> 
				<label for="detail">detail KBM</label> 
				<!-- <input type="text" id="detail" placeholder="detail" value="" name="detail" required>  -->
				<textarea type="text" id="detail" placeholder="detail" value="" name="detail" ></textarea>
			</div> 
			<div> 
				<label for="site">site KBM</label> 
				<input type="text" id="site" placeholder="site" value="" name="site"> 
			</div> 
			<div> 
				<label for="image">Upload Image</label> 
				<input type="file" id="image"
					name="image" value="" required> 
			</div> 
			<div> 
				<button type="submit">Submit</button> 
			</div> 
		</form> 
	</div> 

	<hr> 

	<h1>Uplaoded Images</h1> 
	<div> 
		<% items.forEach(function(image) { %> 
		<div> 
			<div> 
				<img src="data:image/<%=image.img.contentType%>;base64, 
					<%=image.img.data.toString('base64')%>"> 
				<div> 
					<h5><%= image.judul %></h5> 
					<p><%= image.isi %></p> 
				</div> 
			</div> 
		</div> 
		<% }) %> 
	</div> 
</body> 

</html> 
